DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow direct access to real files
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Allow direct access to real directories with index.html
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteCond %{REQUEST_FILENAME}/index.html -f
  RewriteRule ^ - [L]

  # Fallback all SPA routes to /index.html
  RewriteRule ^ /index.html [L]
</IfModule>

